<!DOCTYPE html>
   <head>
      <title>CatoCam History for Date {{ dateStr }}</title>
   </head>
   <body>
      <a href="/"><img src="/Catocam_header.png" width="400"/></a>
      <br/>
      <a href="/">Back</a>
    {% if img is not none %}
      <h2>{{ img }} Image</h2>
      <a href="/history/{{ dir }}/{{ idxPrev }}">Prev</a>
      .....
      <a href="/history/{{ dir }}/{{ idxNext }}">Next</a><br/>

      <img src="/histimg/{{ dir }}/{{ idx }}" alt="Selected Historical Image"/>
      {% else %}
      <h2> Select an Image below to View it</h2>
      {% endif %}
      <h2>Dates with Saved Images</h2>
      {% for dir in folders %} 
      <a href="/history/{{ dir }} ">{{ dir }}</a>, 
       {% endfor %}
      <h2> History for {{ dir }} </h2>
      {% for i in range(0,imgLst|length) %} 
      <a href="/history/{{ dir }}/{{ i }} ">{{ imgLst[i] }}</a> <br/> 
       {% endfor %}
       <h3>The date and time on the server is: {{ time }}, running at {{ fps }} fps and {{ cpuT }} degC</h3>
    </body>
</html>