opencv-python
framegrab
roboflow
ultralytics
inference-sdk
tensorflow==2.13.1
torch==2.0.1    # Needs to be this older version to avoid segfault on raspi 4 2Gb.
torchvision==0.15.2 # Needs to be this older version to avoid segfault on raspi 4 2Gb.
torchaudio==2.0.2 # Needs to be this older version to avoid segfault on raspi 4 2Gb.
flask